<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chatroom Citadel</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
	<style>
		body{
			padding: 40px;
		}

		.chat {
		    list-style: none;
		}

		.chat li {
			padding: 0.5rem;
		    overflow: hidden;
		    display: flex;
		}

		.self {
			justify-content: flex-end;
			align-items: flex-end;
		}

		.other {
			position: relative;
		}
	</style>
</head>
<body>
	<h1 class="title">Welcome to the Broadcast ROOM</h1>
	<div id="app">
		
		<section class="hero is-primary is-medium" v-if="broadcast">
		  <div class="hero-body">
		  	<a class="button is-danger is-rounded">Welcome {{ username }}</a>
		  	<ul class="chat" v-html="chatcontainer"></ul>
		  </div>
		</section>
		
		<br>

		<section class="hero is-primary is-medium" v-if="private">
		  <div class="hero-body">
		  	<a class="button is-danger is-rounded">Private chat</a>
		  	<ul class="chat" v-html="privatechatcontainer"></ul>
		  </div>
		</section>

		<div class="column">
			<div class="field" v-if="joined">
				<label class="label">To</label>
				<p class="control">
					<input class="input" type="text" name="receiver" placeholder="ReceiverID" v-model="receiverID">
				</p>
				<br>
				<label class="label">Message</label>
				<p class="control">
					<textarea cols="30" rows="2" class="textarea" v-model="msg"></textarea>
				</p>
				<br>
					<p><a class="button is-primary" @click="send">Send</a></p>
			</div>
			<div class="field" v-if="!joined">
				<label class="label">Register</label>
				<p class="control">
					<input class="input" type="text" name="username" placeholder="Username" v-model="username">
				</p>
				<br>
				<p class="control">
					<input class="input" type="text" name="color" placeholder="Color: is-primary, is-danger, is-warning, ... (Bulma color)" v-model="color">
				</p>
				<br>
					<p><a class="button is-primary" @click="join">Join</a></p>
			</div>
			
		</div>
	</div>
	<script>
		new Vue ({
			el: '#app',

			data: {
				ws: null,
				msg: 'a message',
				chatcontainer: '',
				joined: false,
				username: '',
				broadcast: true,
				receiverID: '',
				chatcontainer: '',
				private: false,
				privatechatcontainer: '',
				color: '',
			},

			created() {
				var self = this

				this.ws = new WebSocket('ws://'+window.location.host+'/v5/ws')

				this.ws.addEventListener("message",function(e){
					var msg = JSON.parse(e.data)
					// self.$emit('newMess',msg)
					console.log(msg)
					if (msg.type == "broadcast") {
						var float = ""
						if (msg.senderID == self.username) {
							float = "class='self'"
						} else {
							float = "class='other'"
						}
						self.chatcontainer += '<li '+float+'><div><p>'+msg.senderID+'</p><a class="button '+msg.color+' is-rounded">'+msg.data+'</a></div></li>'
					}
					if (msg.type == "private") {
						var float = ""
						if (msg.senderID == self.username) {
							float = "class='self'"
						} else {
							float = "class='other'"
						}
						self.private = true
						self.privatechatcontainer += '<li '+float+'><div><p>'+msg.senderID+'</p><a class="button '+msg.color+' is-rounded">'+msg.data+'</a></div></li>'
					}
					
				})
			},

			methods: {
				join(){
					this.ws.send(JSON.stringify({
						type: 				"join",
						senderID: 			this.username,
						receiverID: 		"",
						data: 				"Join",
					}))
					
					this.joined = true
				},

				privConverse(){
					this.public = false

				}
			}
		});
	</script>
</body>
</html>
